<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"> 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<!-- 日志优先级：OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%c %d{ISO8601} -- %p -- %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<appender name="LOGALL" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C://logs//sms-service.log"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="1024KB"/>
		<param name="MaxBackupIndex" value="5"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%c %d{ISO8601} -- %p -- %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>
	
	<root>
		<priority value="DEBUG"/>
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="LOGALL"/>
	</root>
</log4j:configuration>